<% layout('/layout') %>


<h1>login</h1>

<form action="/login" class="needs-validation novalidate " method="post">
<div class="mb-3">
<label for="userName" class="form-label">User Name</label>
<input type="text" class="form-control" name="username" id="username" required>
</div>


<div class="mb-3">
<label for="password" class="form-label">Password</label>
<input type="password" class="form-control" name="password" id="password" required>
</div>

<button class="btn btn-success">
login
</button>
</form>