<%layout('/layout') %>

<div class="row">
  <h1 class="text-center">New campground  </h1>

  <div class="col-6 offset-3">
    <form action="/campgrounds" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">

    <div class="mt-3">
<label class=" form-label " for="title">Title</label>
<br>
<input class=" form-control" type="text" name="camp[title]" id="title" required>
</div>
  <div class="mt-3">
<label for="location" class="form-label">location</label>
<input type="text" class="form-control" name="camp[location]" id="location" required>
</div>

  <div class="mt-3">
<label for="image" class="form-label">Image Url</label>
<input type="file" class="form-control" name="image" id="image" required multiple>
</div>

<div class="mt-3">
<label for="description" class="form-label">Description</label>
<textarea type="text" class="form-control" name="camp[description]" id="description" required ></textarea> 
</div>

<div class="mt-3">
      <label for="price" class="form-label">Price</label>

  <div class="input-group">


      <span class="input-group-text">$</span>

<input type="text" class="form-control" name="camp[price]" id="price" aria-describedby="price-label" placeholder="0.00" araia-label="price"required>
</div>
</div>


<div class="text-center mt-3">
<button class="btn btn-primary mt-3">Add campground</button>

  </div>
  
  <div class="text-center mt-3">
    <a href="/campgrounds" class="btn btn-primary">All campgrounds</a>

  </div>
    
</form>
        <a href="/campgrounds">All Campgrounds</a>

</div>

</div>










