<% layout('/layout') %>


<h1>register</h1>

<form action="/register" class="needs-validation novalidate " method="post">
<div class="mb-3">
<label for="userName" class="form-label">User Name</label>
<input type="text" class="form-control" name="username" id="username" required>
</div>

<div class="mb-3">
<label for="email" class="form-label">Email</label>
<input type="text" class="form-control" name="email" id="email" required>
</div>

<div class="mb-3">
<label for="password" class="form-label">Password</label>
<input type="password" class="form-control" name="password" id="password" required>
</div>

<button class="btn btn-success">
    register
</button>
</form>